/* index.css */

body {
    font-family: Arial, sans-serif;

    background-color: #f2f2f2;
}

h1 {
    color: #333;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 10px;
    border: 1px solid #ddd; /* Add border here */
    border-radius: 5px; /* Optional: Add border-radius for rounded corners */
    background-color: #fff; /* Change background color */
}

li {
    margin-bottom: 10px;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid transparent;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

a:hover {
    text-decoration: none;
    border-color: #007bff;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}
